<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/style-laptop.css">
    <link rel="stylesheet" type="text/css" href="../css/style-mobile.css">
    <script src="../js/index.js"></script>
    <title>Love and thunder</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Go to Div 1</a></li>
        <li><a href="#">Go to Div 2</a></li>
        <li><a href="#">Go to Div 3</a></li>
      </ul>
    </nav>

    <header>
      <!-- <h1>Welcome to my website!</h1> -->
      <p id="nav-height"> </p>
    </header>

    <section class="parallax">

    </section>


    <footer>
      <!-- <p>&copy; 2023 My Website</p> -->
    </footer>

  </body>

</html>